<ion-header>
  <ion-toolbar>
    <ion-title>طلباتي</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="grid1">
    <ion-row class="row1">
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row class="row2">
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>

    
  <ion-list *ngFor ="let tag of donations_info">
    <ion-item *ngIf="tag"> 

      <ion-button expand="full" (click)="tutorialShown = !tutorialShown">
        <span>{{ tag.order_number }}</span>
      </ion-button>

      <ion-text *ngIf="tutorialShown">
        <p>
          {{ tag.furniture  === 'null' ? '' : ':أثاث' }}
          {{ tag.furniture  === 'null' ? '' :tag.furniture }}
        </p>

        <p>             
          {{ tag.clothes  === 'null' ? '' : 'ملابس:' }}
          {{ tag.clothes === 'null' ? '' : tag.clothes }}
        </p> 
        
        <p>
          {{ tag.dishes  === 'null' ? '' : 'أواني:' }}
          {{ tag.dishes === 'null' ? '':tag.dishes }}
        </p>

        <p>
          {{ tag.electrical_tools  === 'null' ? '' : 'الأدوات الكهربائية:' }}
          {{ tag.electrical_tools === 'null' ? '' : tag.electrical_tools }}
        </p> 
        
        <p>
          {{ tag.baby_things  === 'null' ? '' : 'مستلزمات الأطفال:' }}
          {{ tag.baby_things === 'null' ? '' :tag.baby_things }}
        </p>

        <p>
          {{ tag.luxuries  === 'null' ? '' : 'الكماليات:' }}
          {{ tag.luxuries === 'null' ? '' :tag. luxuries }}
        </p>
        
        <p>
          {{ tag.accessories_and_mobiles  === 'null' ? '' : 'إكسسوارات نسائية وجوالات:' }}
          {{ tag.accessories_and_mobiles === 'null' ? '' :tag.accessories_and_mobiles }}
        </p>

        <p>
          {{ tag.medical_devices  === 'null' ? '' : 'أجهزة طبية:' }}
          {{ tag.medical_devices=== 'null' ? '' :tag.medical_devices }}
        </p>

        <p>
          {{ tag.miscellaneous  === 'null' ? '' : 'متفرقات:' }}
          {{ tag.miscellaneous=== 'null' ? '' :tag.miscellaneous }}
        </p>

      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>

  <!-- <ion-text *ngIf="tutorialShown1">

  <ion-list *ngFor ="let tag of donations_info">
    <ion-item *ngIf="tag"> 

      <div>
        <ion-row>
          <ion-col>
            <p>
              {{ tag.furniture  === 'null' ? '' : ':أثاث' }}
              {{ tag.furniture  === 'null' ? '' :tag.furniture }}
            </p>
          </ion-col>
        </ion-row>
      </div>
    
      <div>
        <ion-row>
          <ion-col>
            <p>             
              {{ tag.clothes  === 'null' ? '' : 'ملابس:' }}
              {{ tag.clothes === 'null' ? '' : tag.clothes }}
            </p> 
          </ion-col>
        </ion-row> 
      </div>
    
      <div>
        <ion-row>
          <ion-col>
            <p>
              {{ tag.dishes  === 'null' ? '' : 'أواني:' }}
              {{ tag.dishes === 'null' ? '':tag.dishes }}
            </p>
          </ion-col>
        </ion-row>
      </div>

      <div>
        <ion-row>
          <ion-col>
            <p>
              {{ tag.electrical_tools  === 'null' ? '' : 'الأدوات الكهربائية:' }}
              {{ tag.electrical_tools === 'null' ? '' : tag.electrical_tools }}
            </p> 
          </ion-col>
        </ion-row>
      </div>

      <div>
        <ion-row>
          <ion-col>
            <p>
              {{ tag.baby_things  === 'null' ? '' : 'مستلزمات الأطفال:' }}
              {{ tag.baby_things === 'null' ? '' :tag.baby_things }}
            </p>
          </ion-col>
        </ion-row>
      </div> 

      <div>
        <ion-row>
          <ion-col>
            <p>
              {{ tag.luxuries  === 'null' ? '' : 'الكماليات:' }}
              {{ tag.luxuries === 'null' ? '' :tag. luxuries }}
            </p>
          </ion-col>
        </ion-row>
      </div> 

      <div>
        <ion-row>
          <ion-col>
            <p>
              {{ tag.accessories_and_mobiles  === 'null' ? '' : 'إكسسوارات نسائية وجوالات:' }}
              {{ tag.accessories_and_mobiles === 'null' ? '' :tag.accessories_and_mobiles }}
            </p>
          </ion-col>
        </ion-row>
      </div>

      <div>
        <ion-row>
          <ion-col>
            <p>
              {{ tag.medical_devices  === 'null' ? '' : 'أجهزة طبية:' }}
              {{ tag.medical_devices=== 'null' ? '' :tag.medical_devices }}
            </p>
          </ion-col>
        </ion-row>
      </div>
      
      <div>
        <ion-row>
          <ion-col>
            <p>
              {{ tag.miscellaneous  === 'null' ? '' : 'متفرقات:' }}
              {{ tag.miscellaneous=== 'null' ? '' :tag.miscellaneous }}
            </p>
          </ion-col>
        </ion-row>
      </div> 
    
    </ion-item>
  </ion-list>

  </ion-text>
</ion-content>
     -->