<ion-header class="ion-no-border">
  <ion-toolbar>
    <div style="height: 40px"></div>
    <div class="img-right" style="padding-bottom: 20px; text-align: center">
      <img
        class="img-right"
        src="../../../../assets/tharwat1.png"
        width="160mm"
        height="80mm"
      />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid1 row1">
    <ion-row style="padding: 14px">
      <ion-col class="content">
        <ion-row>
          <div style="width: 100%" class="center bold fheading">
            تفاصيل الطلب
          </div>
        </ion-row>
        <br/>

        <div *ngFor="let connect of connect_info" dir="rtl">
        
          <ion-row>
            <ion-col class="bold">الاسم</ion-col>
            <ion-col>{{ connect.name }}</ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="bold">رقم الجوال</ion-col>
            <ion-col>{{ connect.numberphone }}</ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="bold">تاريخ الاستلام</ion-col>
            <ion-col>{{ connect.birth_date }}</ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col class="bold">وقت الاستلام</ion-col>
            <ion-col>{{ connect.time }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="bold"> الحي</ion-col>
            <ion-col>{{ connect.neighborhood_name }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="bold">رقم البيت</ion-col>
            <ion-col>{{ connect.house_number }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="bold">اسم الشارع</ion-col>
            <ion-col>{{ connect.street_name }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="bold">أقرب معلم</ion-col>
            <ion-col>{{ connect.nearest_landmark }}</ion-col>
          </ion-row>
        </div>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center">
        <ion-button
          (click)="submit()"
          type="button"
          fill="solid"
          class="accept"
        >
          قبول
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="pd5">
      <ion-col>
        <ion-button
          (click)="dismiss()"
          class="ion-button"
          expand="block"
          color="white"
        >
          إغلاق
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>